
*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Navigation Styles */
nav {
  padding-top: 2%;
  padding-bottom: 2%;
  display: block;
  height: 120px;
  width: 100%;
  text-align: center;
  background-image: url("antisocialites.png");
  background-size: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-element {
  position: relative;
  display: inline-block;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 5px;
  text-decoration: underline;
  font-size: 1em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a:link, a:visited {
  color: white;
}

.nav-element a:hover {
  color: #cc4f6c;
  background-color: none;
  text-shadow: -1px -1px 0 #843245, 1px -1px 0 #843245, -1px 1px 0 #843245, 1px 1px 0 #843245;
}

.dropdown-content a:hover {
  color: #cc4f6c;
  background-color: #ededed;
  text-shadow: -1px -1px 0 #843245, 1px -1px 0 #843245, -1px 1px 0 #843245, 1px 1px 0 #843245;
}

.nav-element:hover {
  background-color: none;
}


/* Body Styles */

h1 {
  font-family: Arial;
  padding-bottom: 10px;
  padding-top: 10px;
  letter-spacing: 5px;
}

.main {
  position: relative;
  bottom: 42px;
  margin: 0 auto;
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  width: 60%;
  min-height: 85vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 1px solid #d3e0f0;
  border-bottom: 1px solid #d3e0f0;
  border-right: 1px solid #d3e0f0;
  box-shadow: 5px 5px 5px #242a7a;
}

br {
  clear: left;
}

body {
  font-family: 'IBM Plex Sans';
  background-image: url("background.png");
  background-size: auto;
  position: relative;
  min-height: 100%;
}

.text-indent {
  text-indent: 25px;
}

#main-image {
  border-radius: 15px;
  height: 297px;
  width: 446px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  border: 3px solid #d3e0f0;
  box-shadow: 5px 5px 5px #efc439;
}

.list-container {
  display: block;
  clear: left;
}

#list-header {
  display: block;
  font-weight: bold;
  font-size: 25px;
}

.fact-list {
  list-style: none;
  padding-left: 0;
}


.fact-list li {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10%);
  float: left;
  padding: 20px;
}

.fact-list div {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to bottom right, #fff7ce, white, #cefcff);
  border: 1px solid black;
  border: outset;
  vertical-align: middle;
}

.fact-list div img {
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  width: 125px;
  height: 125px;
}

.fact-list div p {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

footer {
  bottom: 0;
  left: 0;
  padding-top: 100px;
  padding: 20px;
  background-color: #a4c5fc;
  width: 100%;
  clear: both;
  text-align: center;
}

/* Form Styles */

#form-one, #form-two {
  display: none;
}

#form-two {
  clear:left;
}

form input {
  display: block;
}

.fact-list input {
  float: right;
}
